node_modules/
dist/
build/
coverage/
.env
.env.*.local
.DS_Store
*.log
.vite/

*.tsbuildinfo

#ai
.agents/
.claude/
.windsurf


#ai
.agents/
.claude/
.windsurf

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
